#nav{
	position: fixed;
	display: inline-block;
	background: #253446;
	padding: 5px 0 0;
	width: 15vw;
	height: 100vh;
	z-index: 20;
	top: 0;
	font-family: "proxima-nova,sans-serif";
}

.div-nav{
	display: block;
}
#nav #div-imagen{
	text-align: center;
	margin-bottom: 60px; 
}

a{
	text-decoration: none;
	color: #007faa;
}
img{
	border: 0;
}
#navito{
	margin-bottom: 50px;
}

#nav #navito ul{
	margin: 0;
	padding: 0;
}
#nav #navito ul li{
	list-style: none;
	position: relative;
	display: block;
}
#nav #navito ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 16px;
	padding-top: 15px;
	padding-right: 0;
	padding-bottom: 15px;
	padding-left: 10%;
	display: inline-block;
	width: 90%;
}
#nav #navito a:hover{
	color: #929aa3;
}